HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Скомпилированные файлы классов
*.class

# Логи
*.log

# Временные файлы системы
.DS_Store
Thumbs.db

# Конфигурационные файлы
*.env

# Файлы swap (для Vim)
*.swp

# Конфигурационные файлы приложения
application.properties
application.yml

# Maven Wrapper файлы следует оставить
!mvnw
!mvnw.cmd

